<div id="site">
  <div id="novedades">
    <a id="new" class="sprite">Novedades</a>
    <div id="news_preview">
      <div id="news">

      </div>
    </div>
  </div>
  <div id="sections">
    <ul>
      <li><a id="sec-actualidad" class="sprite" href="#">Actualidad</a></li>
      <li class="child parent-actualidad" style="display: none;"><a id="sec-eventos" class="sprite" href="#">Eventos</a></li>
      <li class="child parent-actualidad" style="display: none;"><a id="sec-noticias" class="sprite" href="#">Noticias de interes</a></li>
      <li><a id="sec-bases" class="sprite" href="#">Bases documentales</a></li>
      <li><a id="sec-normativa" class="sprite" href="#">Actualidad</a></li>
      <li><a id="sec-negociacion" class="sprite" href="#">Actualidad</a></li>
      <li><a id="sec-boletines" class="sprite" href="#">Actualidad</a></li>
      <li><a id="sec-rsc" class="sprite" href="#">Actualidad</a></li>
    </ul>
  </div>
</div>
<div id="content">
  <div class="circle sprite" id="circle-full">Laogen</div>
</div>