<div class="puntos"></div>
<div class="container">
  <img id="logo" src="/images/imagineria/logo.png" alt="logo" width="426" height="83" />
  <ul id="links">
    <li><a id="somos" href="#">Quienes somos</a></li>
    <li><a id="organizacion" href="#">Organización y funcionamiento</a></li>
    <li><a id="mapa" href="#">Mapa web</a></li>
    <li><a id="contacto" href="#">Contacto</a></li>
  </ul>
</div>
<div class="puntos"></div>
